{% extends 'base.html' %}
{% load static %} 

{% block content %} 

<div>
    <h2> {{ profile.username }} </h2>   
</div>

{% if request.user == profile %}
<a id="new_story" href="{% url 'news:newStory' %}">Write New story</a>
{% endif %} 


<div> 
    My Stories:

    <ul>    
    {% for story in profile.newsstory_set.all %} 

    
    <li><h2><a href="{% url 'news:story' story.id %}">{{ story.title }}</a></h2></li>  
        
        {% if request.user == profile %}
        <a href="{% url 'news:updateStory' story.id %}"> Edit </a> | <a href="{% url 'news:deleteStory' story.id %}"> Delete</a>
        {% endif %} 
        {% endfor %}
    </ul> 
        
   
</div>

{% endblock %}
