@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,600;1,900&display=swap');


body {
    background-color: rgb(240, 239, 239);
}

header {
    align-items: center;
    justify-content: space-between;
    border-bottom: 6px solid #34174b;
    background-color: #8146af;
}

/* img {
    filter: grayscale(100%);
} */

.form-text { 
    
    padding: 2px 7px;
    border-width: 1px;
    border-style: outset;
    border-radius: 2px;
    font-size: 12px;   
}

.form-text:hover  {

    border: 1px solid #1a1919;
    background-color: #00000011;
}



h1 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
    color: white;
}

h2 {
   font-family: 'Poppins', sans-serif; 
}

h3 {
    color: #000000;
    font-size: 2rem;
    margin: 0;
}

h4 {
    color: rgb(196, 124, 58);
}

#header-text {
    flex-basis: 85%;
    display: flex;
    justify-content: space-evenly;
    text-shadow: 0px 7px rgb(68, 6, 68);
    
}


#header_align {    
    padding: 16px;
    margin: 10px;
    display: flex;
}

#header_Code {
    color: orange;
}




nav {
    display: flex;
    justify-content: center;   
    padding-bottom: 4px;
    margin-bottom: 4px;
    margin-top: -17px;
           
}

.nav-text {
    padding: 6px;
    color: white;
    font-weight: bold;    
    border-style: groove;
    text-decoration: underline
}


.nav-text:hover {
    color: orange;
    }


a {
    margin: 2px;
    text-decoration: none;
    color:#131313
}

a, p {
    font-family: poppins;
}

#serach-bar {
    display: flex;
    margin-left: 20%;
    background-color: #8246AF;

}

.new_story {
    background-color: orange;
    display: flex;
    padding: 8px;
    margin-left: 41%;
    margin-right: 41%;
    border-radius: 10px;
    color: rgb(231, 244, 255);
    text-decoration: solid underline;
    justify-content: center; 
    font-family:'Poppins', sans-serif;
    font-weight: bold;
    
}

.new_story:hover{
    color: orange;
    background-color: #8246AF;
    

}



    

    /* display: flex; */
   
    /* display: flex;
    
    /* text-align: center;
    margin: 5px;
   
    padding: 10px;
    
    font-size: 1rem; */
   

    

