{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css'%}">
{% endblock %}

{% block content %} 

<div id="story-wrapper">
  <h2>{{ story.title }}</h2>
  <h4>{{ story.author }}</h4>
 

  <div id="story-content">
    {% if story.image_upload %}
    <img src="{{ story.image_upload }}">
     
     

    {% else %}
    <img src="{% static '/news/images/placeholder-5.jpg' %}" />
    {% endif %} 

    {{ story.content|linebreaks }}
  </div>
  <div>
    
     <h4>Last updated: {{ story.pub_update }} <br> Published:  {{ story.pub_date }} </h4>
     <h4></h4>
     

  </div>
</div>

{% endblock %}